{% extends "base.html" %}
{% block content %}

<div class="container mt-4 mb-5">

    
    <h2 class="text-center mb-4 text-primary fw-bold">Delete Department</h2>

   
    

   
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h5 class="mb-0">Select a Department to Delete</h5>
        </div>

        <div class="card-body">
            {% if departments %}
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>no</th>
                        <th>Department Name</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for dept in departments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ dept.name }}</td>
                        <td>
                            <form action="{{ url_for('delete_department', dept_id=dept.id) }}"
                                  method="POST"
                                  onsubmit="return confirm('Are you sure you want to delete {{ dept.name }}? This will remove all related doctors, patients, and appointments.');">
                                
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% else %}
                <p class="text-center text-muted">No departments available.</p>
            {% endif %}
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{{ url_for('admin_dash') }}" class="btn btn-secondary">
            Back to Admin Dashboard
        </a>
    </div>

</div>


{% endblock %}
